.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 66%
    right: 82%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 60%
    right: 5%
  &-3
    animation: float1 1.8s ease-in-out infinite alternate
    position: absolute
    top: 21%
    right: 82%

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)
    
.banner-interno__fondo
  background-image: url(../assets/curso/portada/fondo-banner.svg)  !important  
.banner-principal__img
  width: 400px !important    
  padding-top: 0rem !important
  padding-bottom: 0rem !important
  
.fnd-1.bloque-texto-f.color-secundario:before 
    background-color: #F6F6F6 !important
.fnd-1
  .bloque-texto-f__comillas i 
    color: $color-secundario
.fnd-1-
  .bloque-texto-f__comillas i 
    color: $color-acento-botones
.fnd-2
    background-color: $color-primario
    p 
      color: white !important
.fnd-3.bloque-texto-f.color-primario:before 
    background-color: $color-primario
.fnd-3
  .bloque-texto-f__comillas i 
    color: $color-secundario  
.fnd-4
  background-color: #43C0FF  !important  
.fnd-5
  background-color: #E4FBF2 !important    
.fnd-6
  background-color: #F6F6F6 !important    
  content: ""
  background-repeat: no-repeat 
  display: flex
  justify-content: center
  align-items: end
  &-1 
    background-image: url(../assets/curso/temas/tema2/1.png)
  &-2
    background-image: url(../assets/curso/temas/tema2/2.png)
  &-3 
    background-image: url(../assets/curso/temas/tema2/3.png)
  &-4 
    background-image: url(../assets/curso/temas/tema2/4.png)
  &-5 
    background-image: url(../assets/curso/temas/tema2/5.png)
  &-6 
    background-image: url(../assets/curso/temas/tema2/6.png)
  &-7 
    background-image: url(../assets/curso/temas/tema2/7.png)
  &-8 
    background-image: url(../assets/curso/temas/tema2/8.png)
  &-9 
    background-image: url(../assets/curso/temas/tema2/9.png)                                
  &-10
    background-image: url(../assets/curso/temas/tema2/10.png)
  &-11
    background-image: url(../assets/curso/temas/tema2/11.png)        
.fnd-7
  background-color: #ffffff !important 

.fnd-88
  position: relative
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center   
  z-index: 1
  p,span,i  
    color: #fff !important
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 54%
    width: 92%
    height: 100%
    transform: translate(-50%, -50%)
    border-radius: 15px 0 15px 0
    z-index: -1
    background-repeat: no-repeat
    background-color: #017561
    background-image: url(../assets/curso/temas/tema3/img-7.svg)
    background-size: cover

  @media (min-width: 1200px)
    &::before
      top: 50%
      left: 56%
      width: 96%
      height: 77%
      transform: translate(-50%, -50%)
      background-size: cover
      background-position: bottom
  @media (min-width: 768px) and (max-width: 1200px)  
    &::before
      top: 50%
      left: 56%
      width: 96%
      height: 67%
      transform: translate(-50%, -50%)
      background-size: cover
      background-position: bottom
.fnd-8
  position: relative
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center   
  z-index: 1
  p,span,i  
    color: #fff !important
  &::before
    content: ""
    position: absolute
    top: 50%
    left: 54%
    width: 92%
    height: 100%
    transform: translate(-50%, -50%)
    border-radius: 15px 0 15px 0
    z-index: -1
    background-repeat: no-repeat
    background-color: #017561
    background-image: url(../assets/curso/temas/tema3/img-7.svg)
    background-size: cover

  @media (min-width: 1200px)
    &::before
      top: 50%
      left: 53%
      width: 97%
      height: 77%
      transform: translate(-50%, -50%)
      background-size: cover
      background-position: bottom
  @media (min-width: 768px) and (max-width: 1200px)  
    &::before
      top: 50%
      left: 54%
      width: 96%
      height: 100%
      transform: translate(-50%, -50%)
      background-size: cover
      background-position: bottom
.fnd-8.fn
  @media (min-width: 1200px)
    &::before
      top: 53%
      right: 0
      width: 94%
      height: 86%
      transform: translateY(-56%)
      background-color: #017561
      background-size: cover

.fnd-9
  background: url('../assets/curso/temas/tema2/fnd-1.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem
  margin-inline: -3.4rem
  border-radius: 1.5rem

  
.fnd-10
  background-color: #fff
  border-radius: 1.5rem

  h2, h4 
    text-align: center
.fnd-11
  background: url('../assets/curso/temas/tema2/fnd-2.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem
  margin-inline: -3.4rem
  border-radius: 1.5rem

.fnd-13-
  &::before
    background-image: url(../assets/curso/temas/tema2/fnd-6.svg) !important
    background-color: #017561 !important
.fnd-13
  position: relative
  display: flex
  flex-direction: row
  justify-content: left
  align-items: center   
  z-index: 1
  p,span,i  
    color: #fff !important
  &::before
    content: ""
    position: absolute
    top: 50%
    right: 0
    width: 90%
    height: 100%
    transform: translateY(-50%)
    border-radius: 15px 0 15px 0
    z-index: -1
    background-repeat: no-repeat
    background-color: #017561
    background-image: url(../assets/curso/temas/tema2/fnd-6.svg)
    background-size: cover
  @media (min-width: 1200px)
    &::before
      top: 50%
      right: 0
      width: 94%
      height: 100%
      transform: translateY(-50%)
      border-radius: 15px
      background-color: #01756200
  @media (min-width: 992px) and (max-width: 1200px)  
    &::before
      top: 50%
      left: 39%
      width: 92%
      height: 100%
      transform: translate(-33%, -50%)
      background-color: #01756200
.fnd-14
  background: url('../assets/curso/temas/tema2/fnd-5.svg')
  background-size: cover
  background-repeat: no-repeat 
.tt
  background-color: #E4FBF2
  padding: 1rem
  border-radius: 20px 0 20px 0
  h1
    color: #02DD84
    font-size: 2.3em


.tx-1
  color: #02DD84 !important
.tx-2
  font-size: 3em
  color: #E4FBF2
  margin-bottom: 0
  font-weight: bold
  text-align: right
.img-12
  border: 6px solid #2E85B1
  border-radius: 1rem
  padding: 1rem
  .img-425
    display: none
  @media (min-width: 992px)  
    p, h5
      display: none
    border: 0px solid #2E85B1
    border-radius: 0
    padding: 5px
    .img-425
      display: block
      min-height: 425px
.img-13
  border: 6px solid #FF9751
  border-radius: 1rem
  padding: 1rem
  .img-426
    display: none
  @media (min-width: 992px)  
    p, h5
      display: none
    border: 0px solid #FF9751
    border-radius: 0
    padding: 1px
    .img-426
      display: block
      min-height: 425px


.fnd-12
  background: url('../assets/curso/temas/tema2/fnd-3.svg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  padding: 2rem

.img-14
  border: 6px solid #2E85B1
  border-radius: 1rem
  padding: 1rem
  background-color: #fff
  
.img-15
  border: 6px solid #FF9751
  border-radius: 1rem
  padding: 1rem
  background-color: #fff

.img-fnd-avat
  position: relative
  .b-img-avat1
    display: none

  .b-img-avat2
    display: none
   

  @media (min-width: 1366px)  
    position: relative
    height: 20rem
    .b-img-avat1
      position: absolute
      display: block
      top: -12%
      left: -10%
      width: 60%
    .fl-box-avat1
      position: absolute
      display: block
      top: 6%
      right: -1%
      width: 48%
      transform: translateY(5%)

    .b-img-avat2
      position: absolute
      display: block
      top: -13%
      left: -4%
      width: 35.5%
    
    .fl-box-avat2
      position: absolute
      display: block
      top: 1%
      right: -1%
      width: 68%

  @media (min-width: 1093px) and (max-width: 1366px) 
    position: relative
    height: 26rem
    .b-img-avat1
      position: absolute
      display: block
      top: 50%
      left: 24%
      width: 69%
      transform: translate(-50%, -50%)
    .fl-box-avat1
      position: absolute
      display: block
      top: -6%
      right: -1%
      width: 41%
      transform: translateY(8%)

    .b-img-avat2
      position: absolute
      display: block
      top: 50%
      left: 15%
      width: 41%
      transform: translate(-50%, -50%)
    
    .fl-box-avat2
      position: absolute
      display: block
      top: 2%
      right: -1%
      width: 65%
  @media (min-width: 992px) and (max-width: 1093px) 
    position: relative
    height: 35rem
    .b-img-avat1
      position: absolute
      display: block
      top: 50%
      left: 17%
      width: 74%
      transform: translate(-50%, -50%)
    .fl-box-avat1
      position: absolute
      display: block
      top: 8%
      right: -1%
      width: 46%
      transform: translateY(8%)

    .b-img-avat2
      position: absolute
      display: block
      top: 50%
      left: 17%
      width: 49%
      transform: translate(-50%, -50%)
    
    .fl-box-avat2
      position: absolute
      display: block
      top: 2%
      right: -1%
      width: 59%          
  @media (min-width: 768px) and  (max-width: 992px)
    position: relative
    height: 20rem
    .b-img-avat1
      position: absolute
      display: block
      top: 1%
      left: -10%
      width: 49%
      transform: translateY(-10%)
    .fl-box-avat1
      position: absolute
      display: block
      top: 10%
      right: -1%
      width: 60%
      transform: translateY(10%)

    .b-img-avat2
      position: absolute
      display: block
      top: 3%
      left: -10%
      width: 36%
    
    .fl-box-avat2
      position: absolute
      display: block
      top: -2%
      right: -2%
      width: 75%


.img-fnd-flot8
  position: relative
  width: 100%
  .b-img8
    display: block
    width: 10rem
  .b-img9
    display: block
    width: 11rem    
  .fl-box8
    position: absolute
    top: 50%
    transform: translateY(-50%)
    padding-left: 1.4rem
  @media (min-width: 992px) and (max-width: 1200px) 
    .b-img8
      display: block
      width: 10rem
    .b-img9
      display: block
      width: 11rem
    .fl-box8
        position: absolute
        top: 50%
        transform: translateY(-50%)
        padding-left: 1.4rem

  @media (min-width: 1200px)
    .b-img8
          display: block
          width: 10rem
    .b-img9
      display: block
      width: 11rem

.img-fnd-flot
  position: relative
  width: 100%
  .fl-box
    color: #fff
    padding: 20px
    border-radius: 1rem
    margin-top: 1rem
    background-color: #FFD5B8
  .b-img
      display: none  
  @media (min-width: 992px)
    .b-img
      display: block
      width: 100%                                                                                                                                                                                                                                                           
    .fl-box
      position: absolute
      background-color: #ffffff00
      top: 48%
      transform: translateY(-52%)
      width: 70%
      color: #fff
      padding: 20px
      border-radius: 1rem
      p
        color: black      
        
  @media (min-width: 992px) and (max-width: 1200px)  
    background-color: #FFD5B8
    border-radius: 1rem
    padding: 3rem 0

    .b-img
      display: block
      height: auto
      margin: 3rem 0 
    .fl-box
      position: absolute
      top: 48%
      transform: translatey(-52%)
      width: 70%
      color: #fff
      padding: 20px
      border-radius: 1rem
  @media (min-width: 1200px)
    .b-img                                                                                                                                                                                                                                                         
      background-color: #FFD5B8
      border-radius: 1.5rem



.img-fnd-flot2
  position: relative
  width: 100%
  .fl-box2
    color: #fff
    padding: 20px
    border-radius: 1rem
    margin-top: 1rem
    background-color: #017662
    p
      color: #fff    
  .fl-box4
    background-color: #FF7A38 
  .b-img2
      display: none  
  .fl-box3
         
  @media (min-width: 992px)
    .b-img2
      display: block
      width: 900%                                                                                                                                                                                                                                                           
    .fl-box2
      position: absolute
      background-color: #ffffff00
      top: 50%
      left: 6%
      transform: translateY(-50%)
      width: 82%
      padding: 20px
      p
        color: #fff      
    .fl-box3
      top: 48%
      transform: translateY(-53%)
      width: 91%
  @media (min-width: 992px) and (max-width: 1200px)  
    border-radius: 1rem
    padding: 0
    .b-img2
      display: block
      height: auto
      margin: 3rem 0 3rem 0
    .fl-box2
      position: absolute
      top: 48%
      left: 5%
      transform: translatey(-52%)
      width: 86%
      padding: 20px
    .fl-box4
      width: 90%
  
.linea-tiempo-d__item--selected .linea-tiempo-d__item__content__title 
    background-color: #99F2CE
.linea-tiempo-d__item__content__slot 
    background-color: #E4FBF2
.linea-tiempo-d__item--selected    
  .linea-tiempo-d__item__dots:after 
    border-left: 5px dotted #01927F


.img-c 
  justify-content: start
  display: grid
  margin: 0 auto
  align-items: center


$crd-icon-size: 120px
$crd-padding: 1.5rem
$crd-width: calc(100% - ((#{$crd-icon-size} / 2))) 

.crd_02 
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center   
  z-index: 1
  &::before
    content: ""
    position: absolute
    top: 58%
    right: 0
    width: 94%
    height: 100%
    transform: translateY(-50%);
    border-radius: 15px;
    z-index: -1;
    background-image: url(../assets/curso/temas/tema3/img-7.svg)
    background-repeat: no-repeat
    
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    margin-right: 15px
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2
    p 
      color: #fff !important 		
	
.list 
  width: 100%
  display: flex !important
  &__item 
    &__icon 
      position: relative
      width: 3rem
      margin-right: 0.65rem
      margin-top: 4px
  &__txt 
    margin-top: 1rem
  &__txt2, &__txt3
    margin-top: 0.2rem
  @media (max-width: 576px)
    &__txt, &__txt2
      margin-top: 0rem
  @media (min-width: 1200px)
    &__txt3 
      margin-top: 1rem

.img-86
  height: 86px    

.img-38      
  height: 38px

.img-fnd-flot3
  position: relative
  width: 100%
  .fl-box3
    color: #fff
    padding: 20px
    margin-top: 1rem
    background-color: #017B65
    p
      color: #ffffff
  .b-img3
    display: none
  @media (min-width: 992px)
    .b-img3
      display: block
      width: 100%

    .fl-box3
      position: absolute
      background-color: #ffffff00
      top: 47%
      transform: translateY(-50%)
      padding-left: 2rem
      width: 61%
      color: #fff
      border-radius: 1rem

      p
        color: #ffffff
        

	  

.crd_03 
  position: relative
  display: flex
  flex-direction: row
  justify-content: start
  align-items: center 
  padding: 1rem 1rem .5rem 0   
  z-index: 1

  &::before
    content: ""
    position: absolute
    top: 0
    right: 0
    width: $crd-width
    height: 100%    
    background-color: #E4FBF2
    border-radius: 15px
    z-index: -1
  &__icon
    order: 1
    flex-basis: auto
    width: $crd-icon-size
    img   
      width: $crd-icon-size
  &__txt
    flex: 1 
    order: 2    		
	

.tarjeta-avatar > img 
    width: 120px  
.tarjeta-avatar .tarjeta 
  padding-top: 20px !important    
  display: flex
  justify-content: center
  align-items: center


.img-infografica.color-primario .img-infografica__item__dot:before, .img-infografica.color-primario .img-infografica__item__dot:after
  background-color: #ffffff

.img-infografica.color-primario .img-infografica__item__numero, .img-infografica-b.color-primario .img-infografica__item__numero
    color: #000000  


.tabs-a__tab 
  background-color: #E8E8E8

.slyder-a__btn--sigt, .slyder-a__btn--atrs 
    background-color: #01927F
    background-image: url(../assets/curso/temas/tema2/arrow.svg)

.slyder-a__bullets__item 
    background-color: #A6D9D2

.slyder-a__bullets__item--active 
    background-color: #01927F  

.fnd-i
  background-image: url(../assets/curso/temas/tema1/fnd-1.jpg)
  background-repeat: no-repeat      
  background-position: bottom center
  background-size: auto
  background-repeat: no-repeat
  overflow: visible  	


.b-r-b
  border-radius: 20px 20px 0 0
  
.b-r-m
  border-radius: 0 
  
.b-r-t
  border-radius: 0 0 20px 20px

.banner-principal__row .banner-principal__img 
    padding-right: 0 !important

.banner-principal .tarjeta   
  background-image: url(../assets/curso/portada/fondo-banner-principal-v.png) !important
  background-repeat: no-repeat      
  background-position: bottom center
  background-size: cover
  @media (min-width: 768px) and (max-width:992px)
    background-image: url(../assets/curso/portada/fondo-banner-principal-m.png) !important    
  @media(min-width: 992px)
    background-image: url(../assets/curso/portada/fondo-banner-principal.png) !important    